/* <weight>: Use a value from 300 to 800
 <uniquifier>: Use a unique and descriptive class name */

/* Primary logo and text font */
.parkinsans-font {
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Header font, script (e.g. home page H1) */
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Parkinsans";
  color: var(--text-dark-navy);
}

/* **** COLOR PALETTE (CSS VARIABLES) **** */
:root {
  /* Primary brand colors (colors of the bee) */
  --brand-blue: #113a67;
  --brand-yellow: #f7bc21;

  /* Action / "go" button colors */
  --action-coral: #e87a5d;
  --action-coral-hover: #d85a45;
  --dark-teal: #2a5f8f;
  --dark-teal-hover: #214b73;

  /* Text / font colors */
  --text-dark-navy: #0a2540;
  --text-secondary-gray: #5a6b7f;

  /* Supporting / secondary colors */
  --teal: #4a9b9b;
  --forest-green: #3a6b35;
  --moss-green: #7a9a3d;

  /* Neutral colors for backgrounds */
  --back-sky-blue: #b8d5ed;
  --back-cream: #f9f5e7;
  --back-light-sage: #d2dbbc;

  /* States */
  --error: #d64045;
  --success: #3a9679;
  --warning: #f9ae54;
}

body,
#root {
  /* margin: 0;
  padding: 0;
  background-image: url("../src/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; */

  /* background-attachment: fixed; */
  padding: 0;
  margin: 0;
}

/* Font sizing */
h1 {
  font-size: 24px;
}
h2 {
  font-size: 14px;
}
li {
  font-size: 14px;
}
p {
  font-size: 14px;
}

/* **** Button styling **** */
button {
  border-radius: 8px;
  border: none;
  padding: 5px;
}

.login {
  width: 75px;
  height: 32px;
  background-color: var(--action-coral);
  color: white;
}

.login:hover {
  background-color: var(--action-coral-hover);
}

.next {
  background-color: var(--action-coral);
  color: white;
  padding: 10px;
}

.next:hover {
  background-color: var(--action-coral-hover);
}

/* Component styling */
.pageContainer {
  /* background-color: #f5efdf; */
  width: 100%;
  background: linear-gradient(to top, #ff9966, #ff5e62, #7661c7, #4a6fc4);
  transition: background 2s ease;
}
/* Handles data attribute / shifts in background: sunrise to sunset effect */
.pageContainer[data-question="1"] {
  /* background: linear-gradient(to top, #ff9966, #ff5e62, #ffc44d, #6ec3e2); */
  background: linear-gradient(
    to bottom,
    #0e1f46,
    #1d305b,
    #223667,
    #2b4583,
    #365396,
    #336589,
    #2d7a8d,
    #44b1a0,
    #54d1be,
    #dece14
  );
}
.pageContainer[data-question="2"] {
  /* background: linear-gradient(to top, #4a90e2, #87ceeb, #f9d423, #ff9966); */
  background: linear-gradient(
    to bottom,
    #0e1f46,
    #1d305b,
    #223667,
    #2b4583,
    #365396,
    #336589,
    #2d7a8d,
    #44b1a0,
    #54d1be,
    #dece14
  );
}
.pageContainer[data-question="3"] {
  /* background: linear-gradient(to top, #614385, #516395, #ff5e62, #ff9966); */
  background: linear-gradient(
    to bottom,
    #10224d,
    #203462,
    #223667,
    #2b4583,
    #365396,
    #336589,
    #2d7a8d,
    #44b1a0,
    #54d1be,
    #dece14
  );
}

.pageContainer[data-question="4"] {
  /* background: linear-gradient(to top, #614385, #516395, #ff5e62, #ff9966); */
  background: linear-gradient(
    to bottom,
    #0e1f46,
    #1d305b,
    #223667,
    #2b4583,
    #365396,
    #336589,
    #2d7a8d,
    #44b1a0,
    #54d1be,
    #dece14
  );
}

.stepContainer {
  text-align: center;
  max-width: 950px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  position: relative;
}

.moon {
  position: absolute;
  width: 80px;
}

/* **** RESULTS PAGE STYLING **** */
.resultPageContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.resultContentContainer {
  text-align: center;
  max-width: 950px;
  padding: 10px;
  min-height: 100vh;
  margin: 50px 0 10px 0;
  background-color: hsl(0, 0%, 100%, 0.5);
  border-radius: 8px;
}

.locationImage {
  width: 60%;
  min-width: 400px;
  border-radius: 8px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  /* background-color: #1a73e8; */
  /* box-shadow: 3px 3px 3px #1a73e8; */
}

/* ******* HOME PAGE STYLING ******* */

.homeContainer {
  min-height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeContainer h1 {
  font-size: 22px;
  color: white;
}

.heroText {
  font-size: 70px;
  font-family: "Pacifico";
  font-weight: 400;
  line-height: 1.3;
  text-align: center;
  color: white;
}

.heroBold {
  font-size: 70px;
  font-family: "Pacifico";
  font-weight: 600;
  line-height: 1.3;
  color: white;
}

.homeHeroContainer {
  width: 100%;
  /* height: 600px; */
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHeroHeaderContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 100%;
  position: absolute;
  top: 0;
}

.homeHeroHeaderContainer img {
  width: 40px;
  padding: 8px 0 0 8px;
}

.homeHeroContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 60px;
  min-height: 700px;
}

.homeBottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.homeBottomContentContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeBottomTextContainer {
  text-align: center;
  width: 80%;
  text-align: center;
}

.homeBottomTextContainer > h2 {
  margin: 10px;
  font-size: 40px;
  font-family: "Pacifico";
}

.homeBottomTextContainer > p {
  font-size: 20px;
}

/* Holds the two text boxes describing the steps for the user */
.homeBottomBoxContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.homeBottomBox {
  text-align: center;
  background-color: var(--back-cream);
  border-radius: 8px;
  width: 50%;
  padding: 4px;
  max-width: 380px;
  position: relative;
}

.homeBottomBoxNumber {
  background-color: var(--forest-green);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -5px;
  left: -5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.homeBottomExampleContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* **** PATH SCREEN **** */

.pathContainer {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/background.jpg");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pathContentContainer {
  width: 90%;
  background-color: rgb(255, 255, 255, 0.9);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  padding: 5px;
  box-sizing: border-box;
  position: relative;
  min-height: 60vh;
}

.pathContentContainer > h2 {
  font-size: 35px;
  color: var(--action-coral);
  text-align: center;
  padding: 0 0 10px 0;
}

.pathSelectorBox {
  display: flex;
  width: 85%;
  background-color: lightgray;
  padding: 15px;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin-bottom: 25px;
  max-width: 400px;
  cursor: pointer;
}

.pathSelectorBox:hover {
  /* box-shadow: 5px 5px 8px var(--dark-teal); */
  background-color: var(--back-sky-blue);
}

.pathSelectorBoxText {
  display: flex;
  flex-direction: column;
  line-height: 0;
}

.pathSelectorBoxText > h3 {
  font-size: 18px;
}

.pathSelectorBoxText > p {
  font-size: 13px;
}

.pathSelectorBox > img {
  position: absolute;
  right: 10px;
}

/* other classes */

.bottomContentContainer {
  bottom: 0;
  position: fixed;
  height: 200px;
  width: 100%;
  background-color: white;
}

.textBackground {
  background-color: hsla(190, 36%, 34%, 0.5);
  padding: 30px;
  /* border-radius: 10px; */
}

.dandelion_corner {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 45px;
  z-index: 2;
}

.buttonContainer {
  gap: 15px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.formContainer {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formContainer input {
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 16px;
}

.questionImageGridContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  width: 90%;
}

.questionImageGridContainer > img {
  width: 80px;
  border-radius: 8px;
  align-self: flex-end;
}

.questionImageGridContainer h3 {
  align-self: flex-end;
  font-size: 20px;
  z-index: 1;
  text-align: right;
  margin-bottom: 8px;
  color: white;
}

/* FORM AND INPUT STYLING */

.userForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userForm textarea {
  width: 90%;
  height: 60px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 3px 3px rgb(232, 232, 232);
  font-size: 18px;
  z-index: 1;
  /* z-index to keep in front of dandelion seeds */
}

.userForm textarea::placeholder {
  color: rgb(176, 176, 176);
  font-style: italic;
  font-size: 16px;
}

.userInputBox {
  width: 100%;
}

/* MEDIA QUERIES FOR DESKTOP SIZING */

/* Screen is above 750px */
@media screen and (min-width: 800px) {
  .formContainer {
    flex-direction: row;
  }

  .questionImageGridContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
  }

  .questionImageGridContainer > img {
    width: 120px;
  }

  .questionImageGridContainer h3 {
    text-align: center;
  }
}
