* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* COLOR SCHEME:
    PRIMARY: 
    - Ocean blue: #1A73E8
    - Tropical green: #34A853
    - Sunset orange: #FF7043

    SUPPORTING:
    - Sand/Beach Beige: #F5EFE0 (backgrounds)
    - Mountain purple: #7B68EE 
    - Golden yellow: #FFCA28 (highlights)
*/

/* Universal flex property classes */
.flexCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../src/assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;

  /* background-attachment: fixed; */
}

/* Font sizing */
h1 {
  font-size: 18px;
}
h2 {
  font-size: 14px;
}
li {
  font-size: 14px;
}
p {
  font-size: 14px;
}

/* HOME PAGE BACKGROUND STYLING */
/* Set as an additional, conditional class to 'pageContainer flexCol' */

/* STEP PAGE BACKGROUND STYLING */
.stepPageBackground {
  /* background-image: url("../src/assets/images/water.webp");
  background-size: cover;
  background-position: right; */
  /* background-color: hsla(43, 51%, 92%, 0.9); */
  background-blend-mode: overlay;
}

/* Component styling */
.pageContainer {
  /* background-color: #f5efdf; */
  width: 100%;
}

.stepContainer {
  text-align: center;
  max-width: 950px;
  padding: 10px;
  min-height: 100vh;
}

.homeContainer {
  min-height: 100vh;
  width: 70%;
  margin-top: 80px;
  color: white;
}

.homeContainer h1 {
  font-size: 50px;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  /* background-color: #1a73e8; */
  /* box-shadow: 3px 3px 3px #1a73e8; */
}

.locationImage {
  width: 80%;
}

/* BUTTON STYLING */
button {
  border: 1px solid lightgray;
  padding: 5px 10px;
  border-radius: 6px;
  /* box-shadow: 2px 3px 3px lightgray; */
}

.next {
  background-color: #34a853;
  color: white;
}

.next:hover {
  background-color: #188d37;
}

.buttonContainer {
  gap: 15px;
  margin: 15px 0;
}

.questionImageGridContainer {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  width: 95%;
}

.questionImageGridContainer > img {
  width: 120px;
  border-radius: 8px;
}

.questionImageGridContainer h3 {
  align-self: end;
}

/* FORM AND INPUT STYLING */

.userForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.userForm input {
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 3px 3px rgb(232, 232, 232);
  font-size: 18px;
}

.userForm input::placeholder {
  color: rgb(176, 176, 176);
  font-style: italic;
  font-size: 16px;
}

.userInputBox {
  width: 100%;
}
